/* Shahboz */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
   text-transform: capitalize;
   text-decoration: none;
}

header {
   width: 100%;
   height: 60px;
   position: fixed;
   top: 0;
   background: #ffffff;
   box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
   padding: 0px 7%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.nav-item {
   margin-left: 15px;
}

.buy-now {
   width: 130px;
   height: 30px;
   background: rgb(38, 229, 239);
   color: #fff;
   border: none;
   border-radius: 25px;
}

.buy-now:hover {
   background-color: rgb(255, 0, 60);
   transition: 1s;
   color: #fff;
}

main {
   display: grid;
   width: 100%;
   height: 902px;
   background: linear-gradient(163deg, rgb(28, 9, 80) 0%, rgb(28, 9, 80) 0.67%,
         rgb(28, 9, 80) 1.34%, rgb(28, 9, 80) 2.01%, rgb(28, 9, 80) 2.68%, rgb(28, 9, 80) 3.35%,
         rgb(28, 9, 80) 4.02%, rgb(28, 9, 80) 4.69%, rgb(28, 9, 80) 5.36%, rgb(28, 9, 80) 6.03%,
         rgb(28, 9, 80) 6.7%, rgb(28, 9, 80) 7.37%, rgb(28, 9, 80) 8.04%, rgb(28, 9, 80) 8.71%,
         rgb(28, 9, 80) 9.38%, rgb(28, 9, 80) 10%, rgb(29, 9, 81) 11.33%, rgb(32, 9, 83) 12.66%,
         rgb(38, 8, 88) 13.99%, rgb(45, 7, 93) 15.32%, rgb(54, 7, 100) 16.65%, rgb(64, 6, 108) 17.98%,
         rgb(74, 5, 116) 19.31%, rgb(84, 4, 123) 20.64%, rgb(94, 3, 131) 21.97%, rgb(105, 2, 139) 23.3%,
         rgb(113, 2, 146) 24.63%, rgb(120, 1, 151) 25.96%, rgb(126, 0, 156) 27.29%, rgb(129, 0, 158) 28.62%,
         rgb(130, 0, 159) 30%, rgb(130, 1, 159) 31.33%, rgb(129, 2, 160) 32.66%, rgb(126, 5, 161) 33.99%,
         rgb(124, 9, 162) 35.32%, rgb(121, 13, 164) 36.65%, rgb(117, 19, 165) 37.98%, rgb(114, 24, 167) 39.31%,
         rgb(110, 29, 169) 40.64%, rgb(107, 34, 171) 41.97%, rgb(103, 40, 173) 43.3%, rgb(100, 44, 174) 44.63%,
         rgb(98, 48, 175) 45.96%, rgb(95, 51, 176) 47.29%, rgb(94, 52, 177) 48.62%, rgb(94, 53, 177) 50%,
         rgb(93, 55, 177) 52.67%, rgb(90, 59, 177) 55.34%, rgb(85, 68, 176) 58.01%, rgb(78, 79, 176) 60.68%,
         rgb(71, 91, 176) 63.35%, rgb(61, 107, 175) 66.02%, rgb(52, 122, 174) 68.69%, rgb(42, 137, 174) 71.36%,
         rgb(33, 152, 173) 74.03%, rgb(24, 168, 173) 76.7%, rgb(16, 180, 172) 79.37%, rgb(9, 191, 172) 82.04%,
         rgb(4, 200, 171) 84.71%, rgb(1, 204, 171) 87.38%, rgb(0, 206, 171) 90%, rgb(0, 206, 171) 90.67%,
         rgb(0, 206, 171) 91.34%, rgb(0, 206, 171) 92.01%, rgb(0, 206, 171) 92.68%, rgb(0, 206, 171) 93.35%,
         rgb(0, 206, 171) 94.02%, rgb(0, 206, 171) 94.69%, rgb(0, 206, 171) 95.36%, rgb(0, 206, 171) 96.03%,
         rgb(0, 206, 171) 96.7%, rgb(0, 206, 171) 97.37%, rgb(0, 206, 171) 98.04%, rgb(0, 206, 171) 98.71%,
         rgb(0, 206, 171) 99.38%, rgb(0, 206, 171) 100%);
}

main h5 {
   margin-top: 50px;
   margin-left: 100px;
   color: red;
}

main h4 {
   width: 700px;
   font-size: 50px;
   margin-left: 100px;
   margin-top: 10px;
   color: #fff;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

main p {
   width: 600px;
   font-size: 25px;
   margin-left: 100px;
   color: #fff;
   margin-top: 25px;
   font-family: Arial, Helvetica, sans-serif;
}

#pastki-button {
   font-size: 20px;
   width: 600px;
   height: 50px;
   background: rgb(255, 0, 60);
   color: #fff;
   border: none;
   border-radius: 25px;
   margin-left: 100px;
   margin-top: 15px;
}

#pastki-button:hover {
   width: 650px;
   height: 60px;
   background-color: rgb(38, 229, 239);
   transition: 1s;
   color: #fff;
   margin-left: 75px;
}

#grid-container {
   display: grid;
   grid-template-columns: auto auto auto auto;
   grid-template-rows: auto auto auto auto;
}

#grid-item1 {
   grid-column: span 2;
}

#grid-item2 {
   margin-bottom: 100px;
   margin-top: 150px;
   grid-column: span 2;
}

#rotate-video1 video {
   width: 500px;
   height: 250px;
   box-shadow: rgba(28, 9, 80, 0.35) 0px 12px 37px 0px;
}

#rotate-video2 video {
   width: 500px;
   height: 250px;
   box-shadow: rgba(28, 9, 80, 0.35) 0px 12px 37px 0px;
}

/* transform: rotate(-20deg) rotateY(20deg) rotateX(50deg) scale(0.91, 1); */
/* box-shadow: rgba(28, 9, 80, 0.35) 0px 12px 37px 0px; */

#burchakdagi {
   margin-left: 800px;
   cursor: pointer;
   width: 450px;
   height: 60px;
   color: #fff;
   font-size: 30px;
   border: none;
   border-radius: 5px;
   background-color: rgb(32, 222, 181);
}

#burchakdagi:hover {
   background-color: rgb(255, 0, 60);
}

#second-page-item2 {
   display: grid;
   grid-template-columns: auto auto auto auto;
   grid-template-rows: auto auto auto auto;
}

#second-page-item1 {
   text-align: center;
   margin-top: 50px;
   margin-bottom: 70px;
}

#second-page-item1 h1 {
   font-size: 80px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: rgba(136, 11, 108, 1);

}

#second-page-item1 h2 {
   font-size: 40px;
   color: black;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#second-page-child1 {
   grid-column: span 2;
}

#second-page-child1 video {
   width: 80%;
   margin-left: 150px;
}

#second-page-child2 {
   grid-column: span 2;
   width: 85%;
}

#second-page-child2 h1 {
   margin-left: 100px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#second-page-child2 p {
   margin-left: 100px;
   font-size: larger;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Shahboz End */



/* Sardor */
.cc {
   justify-content: center;
}

#person {
   width: 60px;
   height: 60px;
   border-radius: 50%;
   opacity: 0.6;
}

.card-content h3 {
   color: rgb(39, 39, 83);

}

.card-content {
   height: 355px;
   width: 540px;
   background: rgb(255, 255, 255);
   margin: 10px;
   text-align: center;
}

.card-content p {
   margin-left: 40px;
   margin-top: 10px;
   margin-bottom: 10px;

}

.star {
   margin-top: 30px;
   margin-bottom: 10px;
}

.caruosel {
   margin-left: 140px;
   margin-top: 30px;
   margin-bottom: 30px;
  
}


section {
   background: rgb(238, 238, 238);
   margin-bottom: 20px;
   height: 630px;
}

.text-headerblock img {
   width: auto;
   height: 70px;
   margin-top: -15px;
}

.text-headerblock h5 {
   opacity: 0.8;
}

#main {
   background-color: #999;
   height: 800px;
}

#you {
   color: linear-gradient(45deg, red, blue);

}
#setting {

   width: 200px;
   height: 150px;
   transform: translate(360deg);
   transition: 1s inherit;
}

.setting {
   background-color: white;
   box-shadow: 1px 5px 10px 2px rgb(207, 207, 207);
   height: 350px;
   margin: 5px;
}

.crop img {
   width: 250px;
   height: 180px;
   margin-top: -25px;
}

.crop {
   margin: 5px;
   background-color: white;
   box-shadow: 1px 5px 10px 2px rgb(223, 223, 223);
   height: 350px;
}

.rocket {
   margin-top: 10px;
   width: 100px;
   height: 100px;
}

#rocket {
   margin: 5px;
   background-color: rgb(255, 255, 255);
   box-shadow: 10px 5px 10px 2px rgb(216, 216, 216);
   height: 350px;
}

#anim {
   margin-bottom: 50px;
   margin-top: 20px;
   margin-left: 50px;
}
#round{
   width: 20px;
   background: rgb(202, 182, 255);
   border-radius: 50%;
}
/* Sardor */
/* Jamshid Begin */
#cat{ margin-top: 30px;
   height: 600px;
   background: #0099F7;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #F11712, #0099F7);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #F11712, #0099F7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   position: relative;

}
#google{
   width: 250px;
   height: 50px;
   margin-top: 30px;
   margin-left: 200px;
   font-size: 20px;
 border-radius: 20px;
 background-color: rgb(231, 11, 84);
}
#google:hover{
   width: 300px;
   height: 55px;
   margin-top: 30px;
   margin-left: 175px;
   transition: 1s;
   font-size: 20px;
 border-radius: 30px;
background-color: rgb(105, 105, 197);
}
#go{
   width: 210px;
   height: 150px;  
  
   
}

 
#first{
 transform: rotate(-20deg);
 transform: skewY(-10deg);
 transform: skewX(20deg);


}
 #first1{ transform: rotate(-20deg);
   transform: skewY(-10deg);
   transform: skewX(20deg);
   margin-left: 180px;

 }
 #fear{
   margin-top: 20px;
 }

   


#general{
   display: flex;
   flex-direction: row;
   gap: 10px;
  
}
#logo{
   position: absolute;
   margin-left: 720px;
   margin-top: -300px;
}
#fluid{margin-top: 20px;
width: 100%;
height: 500px;



   background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
#foot{
   padding-top: 50px;
}
#foot1{padding-top: 50px;
   padding-left: 20px;
}
.menu li{
  margin-top: 10px;
   font-size: 18px;
   font-family: sans-serif;
   list-style: none;
   opacity: 0.6;
}
.menu{
   margin-top: 20px;
}
.menu li:hover{
   cursor: pointer;
   color: rgb(216, 215, 231);
}
#Final{ width: 100%;
   height: 80px;

   background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
#raw{
   margin-top: 20px;
}
#your{
   height: 60px;
   width: 70px;
   padding-left: 10px;

}
.list-unstyled{
   display: flex;
   list-style: none;
   flex-direction: row;
   gap: 5px;
   padding-top: 15px;
}
#shadow{
   background-color: #fffbfb;
   box-shadow: 5px 0px 19px 2px rgba(34, 60, 80, 0.36);
   transition-delay: 2s; 
   width: 350px;
   height: 550px;
   margin: 10px;
   gap: 10px;
  
}


#card{
   border: none;
}
#cardtext:hover{
   color: red;
   cursor: pointer;
}
#cardtext{
   margin-top: -20px;
}
#card-txt{
   margin-top: -10px;
}
#card-txt1{
   margin-left: 250px;
   margin-top: -10px;

}
#med:hover{
color: chocolate;
cursor: pointer;
}
#svg{
   width: 50px;
   height: 50px;
   margin-top: 40px;
   margin-left: 20px;
}
#slider{
   margin-top: 50px;
   
}
#slider:hover{
   color: red;
   cursor: pointer;
}
#subscribe{
   height: 45px;
   width: 220px;
   margin-top: 30px;
  margin-left: 60px;
}
#subscribe:hover{
  background-color: red;
   cursor: pointer;
}
/* Jamshid Stop */
