/* Shahboz */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
   text-transform: capitalize;
   text-decoration: none;
}

header {
   width: 100%;
   height: 60px;
   position: fixed;
   top: 0;
   background: #ffffff;
   box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
   padding: 0px 7%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.nav-item {
   margin-left: 15px;
}

.buy-now {
   width: 130px;
   height: 30px;
   background: rgb(38, 229, 239);
   color: #fff;
   border: none;
   border-radius: 25px;
}

.buy-now:hover {
   background-color: rgb(255, 0, 60);
   transition: 1s;
   color: #fff;
}

main {
   display: grid;
   width: 100%;
   height: 902px;
   background: linear-gradient(163deg, rgb(28, 9, 80) 0%, rgb(28, 9, 80) 0.67%,
         rgb(28, 9, 80) 1.34%, rgb(28, 9, 80) 2.01%, rgb(28, 9, 80) 2.68%, rgb(28, 9, 80) 3.35%,
         rgb(28, 9, 80) 4.02%, rgb(28, 9, 80) 4.69%, rgb(28, 9, 80) 5.36%, rgb(28, 9, 80) 6.03%,
         rgb(28, 9, 80) 6.7%, rgb(28, 9, 80) 7.37%, rgb(28, 9, 80) 8.04%, rgb(28, 9, 80) 8.71%,
         rgb(28, 9, 80) 9.38%, rgb(28, 9, 80) 10%, rgb(29, 9, 81) 11.33%, rgb(32, 9, 83) 12.66%,
         rgb(38, 8, 88) 13.99%, rgb(45, 7, 93) 15.32%, rgb(54, 7, 100) 16.65%, rgb(64, 6, 108) 17.98%,
         rgb(74, 5, 116) 19.31%, rgb(84, 4, 123) 20.64%, rgb(94, 3, 131) 21.97%, rgb(105, 2, 139) 23.3%,
         rgb(113, 2, 146) 24.63%, rgb(120, 1, 151) 25.96%, rgb(126, 0, 156) 27.29%, rgb(129, 0, 158) 28.62%,
         rgb(130, 0, 159) 30%, rgb(130, 1, 159) 31.33%, rgb(129, 2, 160) 32.66%, rgb(126, 5, 161) 33.99%,
         rgb(124, 9, 162) 35.32%, rgb(121, 13, 164) 36.65%, rgb(117, 19, 165) 37.98%, rgb(114, 24, 167) 39.31%,
         rgb(110, 29, 169) 40.64%, rgb(107, 34, 171) 41.97%, rgb(103, 40, 173) 43.3%, rgb(100, 44, 174) 44.63%,
         rgb(98, 48, 175) 45.96%, rgb(95, 51, 176) 47.29%, rgb(94, 52, 177) 48.62%, rgb(94, 53, 177) 50%,
         rgb(93, 55, 177) 52.67%, rgb(90, 59, 177) 55.34%, rgb(85, 68, 176) 58.01%, rgb(78, 79, 176) 60.68%,
         rgb(71, 91, 176) 63.35%, rgb(61, 107, 175) 66.02%, rgb(52, 122, 174) 68.69%, rgb(42, 137, 174) 71.36%,
         rgb(33, 152, 173) 74.03%, rgb(24, 168, 173) 76.7%, rgb(16, 180, 172) 79.37%, rgb(9, 191, 172) 82.04%,
         rgb(4, 200, 171) 84.71%, rgb(1, 204, 171) 87.38%, rgb(0, 206, 171) 90%, rgb(0, 206, 171) 90.67%,
         rgb(0, 206, 171) 91.34%, rgb(0, 206, 171) 92.01%, rgb(0, 206, 171) 92.68%, rgb(0, 206, 171) 93.35%,
         rgb(0, 206, 171) 94.02%, rgb(0, 206, 171) 94.69%, rgb(0, 206, 171) 95.36%, rgb(0, 206, 171) 96.03%,
         rgb(0, 206, 171) 96.7%, rgb(0, 206, 171) 97.37%, rgb(0, 206, 171) 98.04%, rgb(0, 206, 171) 98.71%,
         rgb(0, 206, 171) 99.38%, rgb(0, 206, 171) 100%);
}

main h5 {
   margin-top: 50px;
   margin-left: 100px;
   color: red;
}

main h4 {
   width: 700px;
   font-size: 50px;
   margin-left: 100px;
   margin-top: 10px;
   color: #fff;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

main p {
   width: 600px;
   font-size: 25px;
   margin-left: 100px;
   color: #fff;
   margin-top: 25px;
   font-family: Arial, Helvetica, sans-serif;
}

#pastki-button {
   font-size: 20px;
   width: 600px;
   height: 50px;
   background: rgb(255, 0, 60);
   color: #fff;
   border: none;
   border-radius: 25px;
   margin-left: 100px;
   margin-top: 15px;
}

#pastki-button:hover {
   width: 650px;
   height: 60px;
   background-color: rgb(38, 229, 239);
   transition: 1s;
   color: #fff;
   margin-left: 75px;
}

#grid-container {
   display: grid;
   grid-template-columns: auto auto auto auto;
   grid-template-rows: auto auto auto auto;
}

#grid-item1 {
   grid-column: span 2;
}

#grid-item2 {
   margin-bottom: 100px;
   margin-top: 150px;
   grid-column: span 2;
}

#rotate-video1 video {
   width: 500px;
   height: 250px;
   box-shadow: rgba(28, 9, 80, 0.35) 0px 12px 37px 0px;
}

#rotate-video2 video {
   width: 500px;
   height: 250px;
   box-shadow: rgba(28, 9, 80, 0.35) 0px 12px 37px 0px;
}

/* transform: rotate(-20deg) rotateY(20deg) rotateX(50deg) scale(0.91, 1); */
/* box-shadow: rgba(28, 9, 80, 0.35) 0px 12px 37px 0px; */

#burchakdagi {
   margin-left: 800px;
   cursor: pointer;
   width: 450px;
   height: 60px;
   color: #fff;
   font-size: 30px;
   border: none;
   border-radius: 5px;
   background-color: rgb(32, 222, 181);
}

#burchakdagi:hover {
   background-color: rgb(255, 0, 60);
}

#second-page-item2 {
   display: grid;
   grid-template-columns: auto auto auto auto;
   grid-template-rows: auto auto auto auto;
}

#second-page-item1 {
   text-align: center;
   margin-top: 50px;
   margin-bottom: 70px;
}

#second-page-item1 h1 {
   font-size: 80px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: rgba(136, 11, 108, 1);

}

#second-page-item1 h2 {
   font-size: 40px;
   color: black;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#second-page-child1 {
   grid-column: span 2;
}

#second-page-child1 video {
   width: 80%;
   margin-left: 150px;
}

#second-page-child2 {
   grid-column: span 2;
   width: 85%;
}

#second-page-child2 h1 {
   margin-left: 100px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#second-page-child2 p {
   margin-left: 100px;
   font-size: larger;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Shahboz End */